:root{
    --grey-900:rgba(46, 47, 66, 0.7);
    --grey-800:rgba(46, 47, 66, 0.4);
    --grey-700:#2E2F42;
    --grey-600:#434455;
    --grey-500:#8E8F99;
    --blue-700:#404BBF;
    --blue-600:#4D5AE5;
    --blue-500:#E7E9FC;
    --blue-400:#F4F4FD;
    --green-700:#31D0AA;
    --l_gra:rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7);
    --white:#FFFFFF;
    --regular-400:400;
    --medium-500:500;
    --bolt-700:700;
    --bolt-800:800;
    --little:0.02em;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}
.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--grey-600);  
 }

.title {
     font-size: 36px;
     line-height: 1.1;
     letter-spacing: var(--little);
    color: var(--grey-700);
     text-align: center;
 }
.title_category{
    font-weight: var(--medium-500);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--little);
    color: var(--grey-700);
}
.menu_link{
    font-weight: var(--medium-500);
}
.menu_link,
.contact_link{
    font-style: normal;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: var(--little);
    color: var(--grey-600); 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.menu_link:focus,
.contact_link:focus,
.menu_link:hover,
.contact_link:hover{
    color: var(--blue-700);  
}

.hero_btn:hover{
    background-color: var(--blue-700);  
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: var(--bolt-800);
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 75px;
    
}
.logo_pre{
    color: var(--blue-600);
    
}
.logo_top{
    color: var(--grey-700) ;
}

/*_______________________ HEADER */
              
.header {
    border-bottom: 1px solid var(--blue-500);
}
.header_top{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.header_navigation{
    display: flex;
    align-items: center;
    
}
.menu_list{
    display: flex;
    gap: 40px;
}
.contact_list{
    display: flex;
    gap: 40px;
}


/*_______________________ HERO */
.hero{
    background-color: var(--grey-700);
    background-image: linear-gradient(var(--l_gra)),
         url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
    margin:0 auto;
}
.hero_info{
    max-width: 494px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
.hero_text{
    font-weight:var(--bolt-700);
    font-size: 56px;
    line-height: 1.1;  
    color: var(--white);
    margin-bottom: 48px;
    text-align: center;
}
.hero_btn{
    max-width: 169px;
    border: none;
    color:var(--white);
    background-color: var(--blue-600);  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/*_______________________SKILS */
.skils{
    padding: 120px 0;
}
.skils_list{
    display: flex;
}
.skils_item{
    max-width: 264px;
}
.skils_item:not(:last-child){
    margin-right: 24px;
}
.skils_title{
    margin-bottom: 8px;
}
.skils_info{
    line-height: 1.2;
    letter-spacing: var(--little);
    color: var(--grey-600);  
}
.skils_img{
    width: 100%;
    height: 112px;
    background-color: var(--blue-400);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
}

/*_______________________ ABOUT */
.about{
    padding-bottom: 120px;
}
.about_title{
    margin-bottom: 72px;
}
.about_gallery{
    display: flex;
    justify-content: space-between;
}

/*_______________________ TEAM */
.team{
    padding: 120px 0;
    background-color:var(--blue-400);  
}
.team_list{
    display: flex;
}
.team_card{
    background-color: var(--white);
    max-width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.team_card:not(:last-child){
margin-right: 24px;
}
.team_card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team_info{
    padding: 32px 16px;
    text-align: center;
}
.team_soc_list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.team_soc_link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blue-600);
    display: flex;
        align-items: center;
        justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.team_soc_link:is(:hover,:focus){
    background-color: var(--blue-700);
}

.social_link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_title{
    margin-bottom: 72px;
}.team_name{
    margin-bottom: 8px;
}
.team_position{
    line-height: 1.5;
    letter-spacing: var(--little);
    color: var(--grey-600);  
    margin-bottom: 8px;
}
/*_______________________ customerS */

.customer{
    padding: 120px 0;
}
.customer_title{
    margin-bottom: 72px;   
    text-transform: capitalize;
}
.customer_list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.customer_item{
    width: 168px;
    height: 88px;
}
.customer_link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey-500);
    border-radius: 4px;
    color:var(--grey-500);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.customer_icon {
    fill: currentColor;
}
.customer_link:is(:hover,:focus){
    border-color: var(--blue-700);
    color: var(--blue-700);
}

/*_______________________ FOOTER */
.footer{
    background-color: var(--grey-700);
    padding: 100px 0;
}
.footer_information{
    display: flex;
    align-items: start;
}
.footer_info{
    max-width: 264px;
    margin-right: 120px;
}
.footer_logo{
    color: var(--blue-400);
    margin-bottom: 16px;
    margin-right: 0;
}   
.footer_tagline{
    margin-top: 16px;
    color: var(--blue-500);  
}
.social_text{
    font-weight: var(--medium-500);
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: var(--little);
    color: var(--white);
    margin-bottom: 16px;
}
.social_list{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.social_link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social_link:is(:hover, :focus) {
    background-color: var(--green-700);
}
/*_______________________ PORTFOLIO */

.gallery{
    padding-top: 96px;
    padding-bottom: 120px;
}
.gallery_list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    
}

.gallery_btn{
    font-weight: var(--medium-500);
    line-height: 1.5;
    color: var(--blue-600);  
    background-color: var(--blue-400);  
    border: 1px solid var(--blue-500);  
    border-radius: 4px;
    padding: 12px 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery_btn:hover,
.gallery_btn:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.portfolio_list{
    display: flex;
    flex-wrap: wrap;
    gap:48px 24px;
}
.portfolio_item{
    max-width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_link{
    letter-spacing: var(--little);
    color: var(--grey-600); 
    text-decoration: none;
} 
.portfolio_item:is(:hover,:focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio_info{
border: 1px solid var(--blue-500);
padding: 32px 16px;   
border-top: none;

}
.portfolio_services{
    font-size: 20px;
    font-weight: var(--medium-500);
    line-height: 1.2;
    letter-spacing: var(--little);
    color: var(--grey-700);
    margin-bottom: 8px;
}
.portfollio_specialit{
    font-weight: var(--regular-400);
    line-height: 1.5;
    letter-spacing: var(--little);
}